body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
article {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
}
.features {
  display: flex;
  flex-direction: column;
}
.features-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
img {
  margin: 1rem;
  height: 200px;
  width: 200px;
}

.features-list > div {
  display: flex;
  justify-content: flex-start;
  background-color: bisque;
  padding: 5px;
  border-radius: 2px;
  margin: 4px;
  height: 15px;
  width: 15px;
  text-align: bottom;
}

@media screen and (max-width: 500px) {
  article {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  img {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    column-width: 100%;
  }
  .main {
    grid-template-columns: 1fr;
    padding-left: 30px;
  }
  div.features {
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start; /* Align text to the left */
    width: 100%;
    padding-left: 50px;
  }
  .features-list > div{
    display: flex;
    justify-content: flex-end;
  }
}
